@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

button.center-graph-button{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

button.clear-nodes-button{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}